<img src="http://villageraised.com/wp-content/uploads/2013/05/cropped-logo1.png" alt="Village Raised">
<h1>Luci Temple</h1>
<p>Want to know some stuff about me?</p>
<p>I am founder of <a href="http://villageraised.com"> Village Raised</a>, a crowdfunding website to help schools fundraise.</p>
<h3> Connect </h3>
<ul>
  <li><a href="http://www.twitter.com/lucitemple"> Twitter: @lucitemple</a></li>
  <li><a href="http://www.twitter.com/villageraised"> Twitter 2: @villageraised</a></li>
  <li><a href="http://www.facebook.com/villageraised"> Facebook Page</a></li>
  <li><a href="http://www.villageraised.com">Website</a></li>
</ul> 

